@page "/"


@inject ArtistaAPI artistasAPI

<PageTitle>Home</PageTitle>

<h3>Últimos artistas cadastrados</h3>
@if (Artistas is not null)
{
    @foreach (var item in Artistas.OrderByDescending(a => a.Id).Take(5)!)
    {
        <CardArtista Artista=item/> 
    }    
}

@code{
    public List<Artista>? Artistas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Artistas = await artistasAPI.GetArtistasAsync();
    }
}

