<div class="artist-card bordered-div">
    <div class="artist-name">@Artista.Nome</div>
    <div class="artist-description">@Artista.Bio</div>
</div>

@code {
    [Parameter]
    public Artista? Artista { get; set; }
}
